@font-face {
    font-family: "Oleo Script";
    src: local("Oleo Script"),
    url(OleoScript-Bold.otf);
}
@font-face {
    font-family: "Oxygen Mono";
    src: local("Oxygen Mono"),
    url(OxygenMono-Regular.otf);
}
